@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --text-color: #ffff00;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  /* font styles */
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

#logo {
  margin-left: 7.5vw;
  color: var(--text-color);
  font-family: cursive;
  font-size: 3rem;
  font-weight: bolder;
  flex: 2;
}

.search {
  margin-right: 7.5vw;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  flex: 5;
}

.search::placeholder {
  color: var(--text-color);
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: grid;
  grid-template-columns: 19vw 19vw 19vw 19vw 19vw;
  grid-gap: 1vw;
  justify-items: stretch;
}

.movie {
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  height: inherit;
}

.movie img {
  height: auto;
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.yellow {
  color: yellow;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.5s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

@media screen and (max-width: 1300px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    justify-items: stretch;
    margin: 0%;
    grid-gap: 1rem;
  }

  .m1,
  .m2,
  .movie {
    grid-column: auto;
    grid-row: auto;
  }
}

@media screen and (max-width: 950px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    justify-items: stretch;
    margin: 0%;
    grid-gap: 1rem;
  }

  .m1,
  .m2,
  .movie {
    grid-column: auto;
    grid-row: auto;
  }

  header {
    display: block;
  }

  #logo {
    text-align: center;
    width: 90%;
    margin: 2% 5%;
  }

  .search {
    margin: 2% 5%;
    width: 90%;
  }
}
